.alpha {
  text-align: center;
}

.beta {
  font-family: helvetica;
}

.charly {
  color: white;
}


.edward {
  font-size: 18px;
}

.freddie {
  background-image: image(./resources/images/flatiron.png);
}

.gertrude {
  font-size: 11px;
  color: white;
  font-family: Helvetica;
}
