.alpha {
  text-align: center;
}

.beta {
  font-family: helvetica;
}

.charly {
  color: white;
}

.delta {
  font-weight: bold;
}

.edward {
  font-size: 18px;
}

.freddie {
  background-image: image(./resources/images/flatiron.png);
}

.gertrude {
  position: relative;
left: 100%;
-webkit-transform: translateX(-50%);
-ms-transform: translateX(-50%);
transform: translateX(-50%);
}
